<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.root.boardFaq.boardFaqDAO.BoardFaqDAO">

	<resultMap type="com.care.root.VO.BoardFaqVO" id="FaqBoard">
		<id column="FAQ_no" property="FAQBoardNo"/>
		<result column="FAQ_writer" property="FAQWriter"/>
		<result column="FAQ_title" property="FAQTitle"/>
		<result column="FAQ_content" property="FAQContent"/>
		<result column="FAQ_select_type" property="FAQBoardType"/>
		<result column="FAQ_check_secu" property="FAQSecuChk"/>
		<result column="FAQ_pw" property="FAQSecuPw"/>
		<result column="FAQ_reply_ok" property="FAQReplyOk"/>
		<result column="FAQ_sysdate" property="FAQSysdate"/>
	</resultMap>
	
	<insert id="writeSave" parameterType="com.care.root.VO.BoardFaqVO">
		insert into FAQboard(FAQ_writer, FAQ_select_type, FAQ_title, FAQ_content,FAQ_check_secu ,FAQ_pw ,FAQ_sysdate) values(#{FAQWriter}, #{FAQBoardType}, #{FAQTitle}, #{FAQContent},  #{FAQSecuChk},#{FAQSecuPw},now()) 
	</insert>
	
	<select id="getAllFaqList" resultMap="FaqBoard">
		select * from FAQboard;
	</select>
	
	<select id="getDetailFAQ" resultMap="FaqBoard">
		select * from FAQboard where FAQ_no = #{FAQBoardNo}
	</select>

</mapper>